body {
    background-color: #111111;
}

h1 {
    color: #FFFFFF;
    /* Not all devices support every font in the internet, so its better to use more than 1 font */
    font-family: "press Start 2P", "consolas", sans-serif;
}

p {
    /* Set the color of the content */
    color: #00FF73;
    font-family: "consolas", sans-serif;
    /* There are some font styles available */
    font-style: italic;
    /* Set the thickness of the fonts */
    font-weight: bold;
    /* Set underline below the words */
    text-decoration: cyan dotted underline;
    font-size: 18px;
}
