.box {
  width: 100px;
  height: 100px;
  border: 1px solid;
  font-size: 40px;
  text-align: center;
  background: tomato;

  /* float = positions an element to the left or right side of a container */
  float: right;
}

p {
  clear: both;
}
