body {
  margin: 0px;
}

#box1 {
  border: 5px solid;
  width: 250px;
  height: 250px;
  font-size: 22px;
  background: greenyellow;

  /* margin are used to create space around elements, outside of any defined borders. */
  /* margin-top: 50px; */
  /* margin-left: 50px; */
  /* margin-bottom: 50px; */
  /* margin-right: 50px; */

  /*   margin: 50px; */
  margin-right: auto;
  margin-left: auto;
}

#box2 {
  border: 5px solid;
  width: 250px;
  height: 250px;
  font-size: 23px;
  background: dodgerblue;
}
